@font-face {
    font-family: "DM Serif Display";
    src: url("./assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}
@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla/Karla-VariableFont_wght.ttf");
}
:root {
    --clr-violet-100: hsl(273, 4%, 51%);
    --clr-violet-500: hsl(256, 26%, 20%);
    --clr-violet-700: hsl(270, 9%, 17%);
    --clr-blueish-100: hsl(216, 30%, 68%);
    --clr-gray-100: hsl(0, 0%, 98%);
    --clr-gray-300: hsl(0, 0%, 85%);
    --clr-gray-500: hsl(273, 4%, 51%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-main: "Karla", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --ff-heading: "DM Serif Display", sans-serif;

    --font-normal: 400;
    --font-bold: 700;

    --text-body-s: 0.875rem /* 14 */;
    --text-body: 1rem; /* 16 */
    --text-body-m: 1.25rem; /* 20 */
    --text-heading-1: 3rem; /* 48 - 72 */
    --text-heading-2: 2.5rem; /* 40 - 56 */
    --text-heading-3: 1.75rem; /* 28 */

    --leading-main: 1;
    --leading-paragraph: 1.6;

    --tracking-paragraph: 0.004em;
    --tracking-heading: -0.015em;
    --tracking-button: 0.07em;
    --tracking-foot-link: 0.07em;
    --tracking-nav-link: 0.07em;

    --max-w-layout: 69.375rem;
    --px-layout: 1.5rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    line-height: var(--leading-main);
    font-size: var(--text-body);
    font-weight: var(--font-normal);
    font-family: var(--ff-main);
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
textarea,
select {
    font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    font-weight: var(--font-normal);
    font-family: var(--ff-heading);
    letter-spacing: var(--tracking-heading);
}
p {
    overflow-wrap: break-word;
    line-height: var(--leading-paragraph);
    letter-spacing: var(--tracking-paragraph);
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
}
button {
    cursor: pointer;
    font: inherit;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: var(--tracking-button);
    font-weight: var(--font-bold);
    font-size: var(--text-body-s);
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    flex-shrink: 0;
    padding: 0;
}
ul {
    padding: 0;
    list-style: none;
}

.btn--type-primary {
    padding: 0.6875rem 1.6875rem 0.6875rem 1.5625rem;
}
.btn--type-icon {
    min-height: 2rem;
    min-width: 2rem;
}
.btn--theme-light {
    border: 2px solid var(--clr-gray-100);
    color: var(--clr-gray-100);
}
.btn--theme-dark {
    border: 2px solid var(--clr-violet-500);
    color: var(--clr-violet-700);
}

.menu__wrapper {
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 999;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-violet-700);
    font-size: var(--text-body-m);
    font-weight: var(--font-bold);
    padding: 3.125rem var(--px-layout) 18.6875rem var(--px-layout);
    color: var(--clr-gray-100);
    text-transform: uppercase;
    text-align: center;
}
.menu__wrapper.shown {
    display: initial;
}
.menu__wrapper.shown + .nav__container .nav__menu__button span {
    margin: 0;
}
.menu__wrapper.shown + .nav__container .nav__menu__button span:nth-child(1) {
    margin-bottom: -2px;
    transform: rotate(-45deg);
}
.menu__wrapper.shown + .nav__container .nav__menu__button span:nth-child(2) {
    display: none;
}
.menu__wrapper.shown + .nav__container .nav__menu__button span:nth-child(3) {
    transform: rotate(45deg);
}
.menu__bg-pattern {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 16rem;
    object-fit: cover;
    object-position: top;
}
.menu__link__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.75rem;
    margin-bottom: 2.125rem;
}

.nav__container {
    position: relative;
    width: 100%;
    z-index: 999;
    background-color: var(--clr-white);
}
.nav__layout {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100vw - calc(var(--px-layout) * 2), var(--max-w-layout));
    margin: 0 auto;
}
.nav__logo {
    height: 1.125rem;
    object-fit: contain;
    margin-left: 0.125rem;
}
.nav__menu__button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nav__menu__button span {
    display: block;
    width: 1rem;
    height: 0.125rem;
    background-color: var(--clr-violet-500);
    transition: transform 300ms ease;
}
.nav__menu__button span:not(:first-child) {
    margin-top: 0.1875rem;
}
.nav__action {
    margin-top: 0.125rem;
    display: none;
    align-items: center;
    gap: 2rem;
}
.nav__link__wrapper {
    display: flex;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: var(--text-body-s);
    font-weight: var(--font-bold);
    letter-spacing: var(--tracking-nav-link);
}
.nav__link__item a {
    color: var(--clr-gray-500);
    transition: color 200ms ease;
}
.header__container {
    position: relative;
    z-index: 500;
    background-color: var(--clr-violet-500);
    color: var(--clr-gray-100);
}
.header__layout {
    position: relative;
    margin: 0 auto;
}
.header__image {
    position: relative;
    width: 100%;
}
.header__image img {
    width: 100%;
    object-fit: cover;
}
.header__intro {
    position: relative;
    text-align: center;
    padding: 5.8125rem 0;
    width: 100%;
}

.header__intro__title {
    position: relative;
    font-size: var(--text-heading-1);
    margin: 0 auto 1rem auto;
    max-width: 14ch;
    z-index: 100;
}
.header__intro__description {
    position: relative;
    max-width: 58ch;
    z-index: 100;
    margin: 0 auto 2.125rem auto;
}
.header__bg-pattern--left,
.header__bg-pattern--right {
    pointer-events: none;
    position: absolute;
    z-index: 1;
}
.header__bg-pattern--left.mobile {
    left: 0;
    top: 0;
}
.header__bg-pattern--right.mobile {
    right: 0;
    bottom: -11rem;
}
.header__bg-pattern--left.desktop {
    display: none;
    left: 0;
    bottom: -20.875rem;
    z-index: 1;
}
.header__bg-pattern--right.desktop {
    display: none;
    top: -80px;
    right: 0;
}
.main__contianer {
    background-color: var(--clr-white);
    width: 100%;
}
.main__layout {
    margin: 0 auto;
    width: min(100vw - calc(var(--px-layout) * 2), var(--max-w-layout));
    padding: 8.75rem 0;
    text-align: center;
}
.main__divider {
    display: block;
    width: 9.375rem;
    height: 1px;
    margin: 0 auto 2.5rem auto;
    background-color: var(--clr-gray-300);
}
.main__headline {
    font-size: var(--text-heading-1);
    color: var(--clr-violet-500);
    margin-bottom: calc(0.5em + 3.5rem);
}
.main__findout__wrapper {
    width: 100%;
    position: relative;
    background-color: var(--clr-violet-500);
    padding: 4.5rem 2rem 4.625rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.625rem 4rem;
}
.main__findout__bg-pattern {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.main__findout__headline {
    position: relative;
    font-size: var(--text-heading-2);
    color: var(--clr-gray-100);
    z-index: 100;
}
.main__findout__button {
    position: relative;
    z-index: 100;
    padding-right: 1.375rem;
    padding-left: 1.375rem;
}
.main__findout__bg-pattern img {
    height: 100%;
}
.main__about-us__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem 1rem;
    margin-bottom: 8.875rem;
}
.main__about-us__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__about-us__item__img {
    width: 5.375rem;
    height: 5.375rem;
    margin-bottom: 2.3125rem;
}
.main__about-us__item__title {
    font-size: var(--text-heading-3);
    color: var(--clr-violet-500);
    margin-bottom: 1.375rem;
}
.main__about-us__item__description {
    color: var(--clr-violet-100);
    max-width: 37ch;
}

.footer__container {
    position: relative;
    background-color: var(--clr-gray-100);
}
.footer__layout {
    position: relative;
    z-index: 100;
    margin: 0 auto;
    width: min(100vw - calc(var(--px-layout) * 2), var(--max-w-layout));
    padding: 5.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__bg-pattern {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.footer__social__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.footer__social__link__wrapper {
    display: flex;
    gap: 1rem;
}
.footer__social__link__item a {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__social__link__item a svg path {
    transition: fill 200ms ease;
}
.footer__navigation__wrapper {
    text-transform: uppercase;
    font-weight: var(--font-bold);
    font-size: var(--text-body-s);
    letter-spacing: var(--tracking-foot-link);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5625rem 0;
}

.footer__navigation__title {
    font-family: var(--ff-main);
    color: var(--clr-gray-500);
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    letter-spacing: inherit;
    margin-bottom: 2.3125rem;
}
.footer__link__wrapper {
    color: var(--clr-violet-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer__link__item a .underline {
    flex-shrink: 0;
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0;
    background-color: var(--clr-violet-500);
    transition: opacity 200ms ease;
}
.footer__divider {
    margin: 2.5rem 0;
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: var(--clr-gray-300);
}
@media (hover: hover) {
    .nav__link__item a:hover {
        color: var(--clr-violet-500);
    }
    .btn--type-primary.btn--theme-light:hover {
        border: 2px solid var(--clr-gray-100);
        color: var(--clr-violet-500);
        background-color: var(--clr-gray-100);
    }
    .btn--type-primary.btn--theme-dark:hover {
        border: 2px solid var(--clr-violet-500);
        background-color: var(--clr-violet-500);
        color: var(--clr-gray-100);
    }
    .footer__social__link__item a:hover svg path {
        fill: var(--clr-violet-500);
    }
    .footer__link__item a:hover .underline {
        opacity: 1;
    }
}

@media screen and (min-width: 48em) {
    :root {
        --text-heading-1: 4.5rem;
        --text-heading-2: 3.5rem;
    }
    .menu__wrapper {
        display: none;
    }
    .nav__menu__button {
        display: none;
    }
    .nav__action {
        display: flex;
    }
    .footer__navigation__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .main__layout {
        padding: 19.0625rem 0 9.374rem 0;
        align-items: start;
        text-align: start;
    }
    .main__divider {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3.6875rem;
    }
    .main__about-us__wrapper {
        flex-direction: row;
        align-items: start;
        margin-bottom: 9.875rem;
    }
    .main__about-us__item {
        align-items: start;
    }
    .main__about-us__item:last-child {
        max-width: 21.875rem;
    }
    .main__findout__wrapper {
        flex-direction: row;
        padding: 4.375rem 5rem 4.25rem 5.0625rem;
    }
    .main__findout__headline {
        max-width: 17ch;
        text-align: start;
    }
    .header__layout {
        padding: 6.5625rem 0 7.875rem 0;
        width: min(100vw - calc(var(--px-layout) * 2), var(--max-w-layout));
    }
    .header__image {
        position: absolute;
        right: 0;
        max-width: 33.75rem;
    }
    .header__image img {
        max-height: none;
    }
    .header__intro {
        text-align: start;
        padding: 0 34.5rem 0 0;
    }
    .header__intro__divider {
        width: 9.375rem;
        height: 1px;
        background-color: var(--clr-gray-100);
        display: block;
        margin-bottom: 3.9375rem;
    }
    .header__intro__title {
        line-height: 0.89;
        margin: 0 0 1.75rem 0;
    }
    .header__intro__description {
        margin: 0 0 2rem 0;
    }
    .header__bg-pattern--left.mobile,
    .header__bg-pattern--right.mobile {
        display: none;
    }
    .header__bg-pattern--left.desktop,
    .header__bg-pattern--right.desktop {
        display: initial;
    }
    .footer__layout {
        align-items: start;
        padding: 4rem 0 4.0625rem 0;
    }
    .footer__social__wrapper {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__navigation__wrapper {
        display: flex;
        width: 100%;
    }
    .footer__navigation__item {
        width: 100%;
    }
    .footer__navigation__item:last-child {
        max-width: 15.9375rem;
    }
    .footer__navigation__title {
        text-align: start;
    }
    .footer__link__wrapper {
        align-items: start;
    }
    .footer__divider {
        margin: 2.0625rem 0 3rem 0;
    }
}
